.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: underline;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

.body {
  color: #0b0c0d;
  font-family: Claritycity, sans-serif;
}

.nav-item-wrapper {
  color: #0b0c0d;
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.nav-item-wrapper.header-button-mobile {
  display: none;
}

.nav-link {
  color: #0b0c0d;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
}

.dropdown-list-default {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 0;
}

.dropdown-list-default.w--open {
  width: 250px;
  border: 1px solid #e7e7e7;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #f60;
  border-radius: 50px;
  padding: 16px 36px;
  font-family: Claritycity, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.111em;
  transition: color .3s, transform .3s, box-shadow .3s, background-color .3s;
}

.button:hover {
  transform: translate(0, -4px);
}

.button.navigation-button {
  color: #f60;
  background-color: rgba(255, 102, 0, .1);
  border-radius: 8px;
  padding: 11px 26px;
  font-weight: 500;
  line-height: 1.125em;
}

.button.navigation-button:hover {
  color: #fff;
  background-color: #f60;
  transform: none;
}

.button.small {
  background-color: #f60;
  padding: 14px 32px;
}

.button.secondary {
  color: #0b0c0d;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../images/arrow.svg');
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding: 0 32px 0 0;
  line-height: 1;
  transition: padding .2s, color .3s, box-shadow .3s, background-color .3s;
}

.button.secondary:hover {
  padding-right: 36px;
  transform: none;
}

.button.white {
  color: #f60;
  background-color: #fff;
  padding-left: 32px;
  padding-right: 32px;
  display: block;
}

.button.white.outline {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
}

.button.large {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbar-navigation {
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.icon {
  margin-right: 0;
  font-size: 11px;
}

.brand {
  padding-left: 0;
  transition-property: transform;
  transition-duration: .2s;
}

.brand:hover {
  transform: translate(0, -4px);
}

.brand-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.brand-title.white {
  letter-spacing: 2px;
  font-family: Generalsans;
  font-size: 18px;
  font-weight: 500;
}

.dropdown-item-link {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #0b0c0d;
  align-items: center;
  margin-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.dropdown-toggle {
  padding: 10px 20px 10px 0;
  font-weight: 500;
}

.container {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.dropdown-item-icon {
  width: 15px;
}

.dropdown-item-icon.s {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
}

.dropdown-item-text {
  font-size: 13px;
}

.split-content.navbar-left {
  align-items: center;
  display: flex;
}

.split-content.navbar-right {
  position: relative;
}

.button-2 {
  min-width: 150px;
  color: #fff;
  text-align: center;
  letter-spacing: .02px;
  background-color: #706fd3;
  border: 1px solid #706fd3;
  border-radius: 3px;
  padding: 13px 20px;
  font-size: 16px;
  transition: opacity .35s, transform .35s;
  transform: translate(0);
}

.button-2:hover {
  transform: translate(0, -4px);
}

.button-2.large-button {
  padding: 15px 25px;
  font-size: 18px;
  line-height: 24px;
}

.button-2.large-button.white-button.add-space {
  color: #f60;
  background-color: #fff;
  border-color: #fff;
  margin-right: 10px;
}

.button-2.large-button.white-ghost {
  background-color: #f60;
  border-color: #f60;
}

.button-2.small-button {
  min-width: auto;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 18px;
}

.caption {
  color: #f60;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  text-decoration: none;
}

.caption.white-cap {
  color: #fff;
  background-color: rgba(241, 242, 246, 0);
}

.caption.dark-cap {
  color: #242424;
}

.button-wrapper {
  flex-direction: row;
  align-items: flex-start;
  margin-top: 25px;
  display: flex;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.section.light-background {
  background-color: #f5f5f5;
}

.section.hero {
  background-image: url('../images/huone.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 140px;
  padding-bottom: 120px;
}

.section.cta {
  background-color: #f60;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.breadcrumb {
  background-color: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 60px;
}

.section.breadcrumb.myynti {
  background-color: rgba(255, 102, 0, .06);
  background-image: none;
  padding-top: 100px;
}

.section.breadcrumb.huolto, .section.breadcrumb.asennus {
  background-color: rgba(255, 102, 0, .06);
  background-image: none;
}

.section.small {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section.small-bottom-padding {
  padding-bottom: 40px;
}

.section.contact-info-top {
  padding-top: 16px;
  padding-bottom: 8px;
}

.section.lue-lisaa {
  padding-top: 60px;
  padding-bottom: 60px;
}

.image-background {
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.overlay {
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, .34), rgba(0, 0, 0, .34));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.overlay.dark {
  background-image: linear-gradient(rgba(0, 0, 0, .44), rgba(0, 0, 0, .44));
}

.row {
  padding-bottom: 30px;
  padding-left: 64px;
  padding-right: 64px;
}

.row.no-padding-bottom {
  padding-bottom: 0;
}

.row.no-padding-bottom.cta {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.page-title {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.3em;
}

.page-title.white-text {
  color: #fff;
  font-family: Generalsans;
}

.hero-content {
  max-width: 900px;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.container-default {
  z-index: 2;
  max-width: 1180px;
  flex: 0 1260px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.paragraph {
  color: #333;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45em;
}

.paragraph.big-paragraph {
  font-size: 20px;
}

.paragraph.big-paragraph.white-text {
  color: #fff;
  font-weight: 500;
}

.paragraph.small {
  font-size: 14px;
}

.h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Claritycity, sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3em;
}

.h2.dark-text {
  font-family: Claritycity, sans-serif;
  font-weight: 500;
}

.h2.limit-65 {
  width: 65%;
}

.h2.no-top-margin {
  margin-top: 0;
}

.h2.values {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.entry-content {
  max-width: 880px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.entry-content.all-center {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.entry-content.padding-right {
  padding-right: 40px;
}

.entry-content.all-center {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.entry-content.all-center.small {
  max-width: 700px;
}

.entry-content.all-center {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.entry-content.all-center.small {
  max-width: 700px;
}

.section-heading {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.3em;
}

.custom-bp-content {
  flex: 1;
}

.custom-list {
  height: 161px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.service-summary {
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  display: flex;
}

.custom-list-item-small {
  align-items: flex-start;
  font-size: 14px;
  font-weight: 500;
  display: flex;
}

.h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3em;
  text-decoration: none;
}

.h4.bold-text {
  font-weight: 500;
}

.icon-30 {
  width: 22px;
  height: 22px;
}

.services-grid {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.custom-list-small {
  width: 16px;
  height: 16px;
  background-image: url('../images/gray-checkmark_1gray checkmark.png');
  background-position: 0 0;
  background-size: contain;
  flex: 0 auto;
  margin-top: 2px;
  margin-right: 10px;
}

.service-symbol {
  margin-top: 20px;
  margin-right: 18px;
}

.service-item {
  z-index: auto;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ced6e0;
  border-radius: 12px;
  align-items: flex-start;
  padding: 32px;
  transition: transform .35s cubic-bezier(.23, 1, .32, 1), background-color .35s cubic-bezier(.23, 1, .32, 1);
  display: flex;
  position: relative;
}

.service-item:hover {
  z-index: 2;
}

.h3 {
  font-family: Claritycity, sans-serif;
  font-weight: 500;
}

._1x2-fr-grid {
  grid-column-gap: 60px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
}

.link-arrow {
  width: auto;
  height: 14px;
  margin-left: 10px;
}

.arrow-link-wrap {
  color: #242424;
  align-items: center;
  margin-top: 15px;
  padding-right: 20px;
  text-decoration: none;
  display: flex;
}

.featured-client-logo {
  height: 31px;
}

.ft-logo-grid-v2 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
}

.featured-logo-wrap {
  width: 100%;
  height: 100%;
  min-height: 80px;
  background-color: #fff;
  border: 1px solid #ced6e0;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  transition: background-color .2s, transform .35s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.featured-logo-wrap:hover {
  background-color: #f1f2f6;
  transform: scale(1.03);
}

.client-logo-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-center {
  text-align: center;
}

.featured-clients-grid {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  grid-template-rows: 90px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(90px, 1fr);
  grid-auto-columns: 1fr;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.space-20 {
  height: 20px;
}

.light {
  font-weight: 300;
}

.h3-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
  text-decoration: none;
}

.h3-2.text-center {
  font-size: 20px;
}

.custom-list-item {
  align-items: flex-start;
  margin-bottom: 12px;
  display: flex;
}

.checkmark-bullet-point {
  width: 20px;
  height: 20px;
  background-image: url('../images/gray-checkmark_1gray checkmark.png');
  background-position: 0 0;
  background-size: contain;
  flex: 0 auto;
  margin-top: 12px;
  margin-right: 10px;
}

.wrapper-2 {
  z-index: 2;
  max-width: 1366px;
  flex: 0 1260px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footer-nav-item {
  color: #333;
  padding: .78em 1.7em .75em 0;
  font-size: 13px;
  line-height: 1.3em;
  text-decoration: none;
  display: block;
}

.footer-nav-item:hover {
  color: #0b0c0d;
}

.footer-nav-item.w--current {
  color: #2c2c54;
}

.footer-nav-item.social-item {
  align-items: center;
  padding-top: .5em;
  padding-bottom: .5em;
  display: flex;
}

.footer-list {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: grid;
}

.footer-label {
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3em;
}

.footer-left {
  float: left;
  display: inline-block;
}

.footer {
  border-top: 1px solid #ced6e0;
  padding-top: 60px;
  padding-bottom: 0;
  position: relative;
}

.footer-right {
  float: right;
  grid-column-gap: 17px;
  grid-row-gap: 17px;
  align-items: stretch;
  display: flex;
}

.text-seperator {
  width: 2px;
  height: 12px;
  background-color: #ababab;
  margin-left: 8px;
  margin-right: 8px;
}

.footer-nav {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
}

.footer_social-item {
  width: 30px;
  height: 30px;
  background-color: #706fd3;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  display: flex;
}

.footer_social-item:hover {
  background-color: #2c2c54;
}

.footer_social-item.twitter {
  background-image: url('../images/twitter-white-icon_1twitter white icon.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto 20px;
  transition: background-color .35s;
}

.footer_social-item.youtube {
  background-image: url('../images/youtube-white-icon_1youtube white icon.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto 25px;
  transition: background-color .35s;
}

.footer_social-item.facebook {
  background-image: url('../images/facebook-white-icon_1facebook white icon.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto 25px;
  transition: background-color .35s;
}

.footer_social-item.linkedin {
  background-image: url('../images/linkedin-white-icon_1linkedin white icon.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto 25px;
  transition: background-color .35s;
}

.footer-bottom {
  border-top: 1px solid #ced6e0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-bottom.off-white-bg {
  border-top-style: solid;
}

.service-features {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
}

.space-10 {
  height: 10px;
}

.service-paragraph {
  color: #000;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.heading-big {
  margin-top: 0;
  font-size: 65px;
  font-weight: 500;
  line-height: 1.3em;
}

.heading-big.white-text {
  color: #fff;
}

.section-2 {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.breadcrumb-title-wrapper {
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumb-icon {
  width: 32px;
}

.h1-breadcrumb {
  color: #0b0c0d;
  margin-bottom: 20px;
  font-family: Claritycity, sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.breadcrumb-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

.features-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

.feature-block {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
}

.feature-block-text-wrap {
  text-align: left;
}

.h5 {
  margin-top: 6px;
  font-family: Claritycity, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
}

.body-2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.h2-mega {
  font-family: Generalsans;
  font-size: 62px;
  font-weight: 500;
  line-height: 1.3;
}

.h2-mega.white {
  color: #f5f5f5;
}

.pitch-grid {
  grid-template-rows: auto;
  grid-template-columns: .5fr .75fr;
  align-items: start;
}

.value-wrapper {
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
}

.value-icon {
  width: 23px;
}

.value-icon.dropdown-list-default {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
}

.value-title {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 500;
}

.utility-page-wrap {
  width: 100vw;
  height: 60vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 450px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.utility-image {
  width: 48px;
  margin-left: auto;
  margin-right: auto;
}

.utility-image.large {
  width: 72px;
  margin-bottom: -6px;
}

.post-img-wrap {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.post-meta {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 35px 25px;
  display: flex;
}

.text-link {
  color: #242424;
  font-family: Claritycity, sans-serif;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  transition: color .2s;
}

._3-col-grid {
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

._3-col-grid.contact-information {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  align-content: start;
  justify-items: start;
}

.row-2 {
  padding-bottom: 30px;
  padding-left: 52px;
  padding-right: 52px;
}

.row-2.no-padding-bottom {
  padding-bottom: 0;
}

.empty-state {
  color: rgba(87, 96, 111, .7);
  background-color: #f1f2f6;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
  display: inline-block;
}

.small-caption {
  color: #f60;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
  text-decoration: none;
}

.post-item {
  height: 100%;
  background-color: #fff;
  border: 1px solid #e2e7ed;
  border-radius: 12px;
  text-decoration: none;
  transition: background-color .35s, transform .35s;
}

.post-item:hover {
  transform: translate(0, -4px);
}

.paragraph-2 {
  color: #57606f;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45em;
}

.paragraph-2.small-text {
  font-size: 14px;
}

.paragraph-2.big-paragraph {
  font-size: 20px;
}

.image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-image {
  width: 100%;
  height: 275px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.brand-logo {
  width: 75px;
}

.study-label {
  z-index: 2;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
}

._2-col-grid {
  grid-column-gap: 52px;
  grid-row-gap: 52px;
  grid-template-rows: auto;
  display: grid;
}

._2-col-grid.align-center {
  align-items: center;
}

._2-col-grid.contact {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-columns: 1.5fr 1fr;
}

.custom-list-2 {
  padding-left: 0;
  list-style-type: none;
}

.home-v1-video {
  width: 100%;
  height: 600px;
  max-width: 490px;
  background-image: url('../images/image-14.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.video-button {
  width: 70px;
  height: 70px;
  background-color: rgba(75, 207, 250, .85);
  border-radius: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .35s;
  display: flex;
}

.video-button:hover {
  transform: scale(1.1);
}

.image-wrapper {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
  overflow: hidden;
}

.tablet-visible {
  display: none;
}

.icon-outline-wrap {
  border: 1px solid #2c2c54;
  border-radius: 50px;
  padding: 10px;
}

.side-content-box {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.side-content-grid {
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  margin-top: 30px;
}

.side-img-grid {
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

.image-default {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.image-default.large {
  height: 450px;
}

.feature-icon {
  width: 24px;
}

.feature-paragraph {
  color: #333;
  padding-right: 40px;
  font-size: 16px;
  line-height: 1.5;
}

.h1-mega-title {
  font-family: Claritycity, sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 1.1;
}

.h1-mega-title.white-text {
  color: #fff;
}

.h1-mega-title.white-text.show-mobile, .h1-mega-title.show-mobile {
  display: none;
}

.info-rich-text-block p {
  color: #333;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;
}

.info-rich-text-block h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
}

.info-rich-text-block h3 {
  font-size: 20px;
  font-weight: 600;
}

.info-rich-text-block h4 {
  margin-top: 20px;
  font-weight: 600;
}

.info-rich-text-block a {
  color: #0b0c0d;
}

.info-rich-text-block blockquote {
  border-left-color: #f60;
}

.info-content-wrapper {
  margin-left: 19%;
  margin-right: 19%;
}

.space-40 {
  height: 40px;
}

.nav-item-wrapper-default {
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.nav-item-wrapper-default.header-button-mobile {
  display: none;
}

.brand-2 {
  width: 160px;
  padding-left: 0;
  transition-property: transform;
  transition-duration: .2s;
}

.brand-2:hover {
  transform: translate(0, -4px);
}

.dropdown-list-default-2 {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 0;
}

.dropdown-list-default-2.w--open {
  width: 250px;
  border: 1px solid #e7e7e7;
  border-radius: 0;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
}

.dropdown-list-default-2.smaller.w--open {
  border-radius: 0;
}

.button-default {
  color: #fff;
  text-align: center;
  background-color: #fc6604;
  padding: 20px 40px;
  font-weight: 700;
  line-height: 1.111em;
  transition: color .3s, transform .3s, box-shadow .3s, background-color .3s;
}

.button-default:hover {
  transform: translate(0, -4px);
}

.button-default.navigation-button {
  background-color: #fc6604;
  border-radius: 50px;
  padding: 11px 26px;
  font-family: Claritycity, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.125em;
}

.button-default.navigation-button:hover {
  color: #fff;
}

.dropdown-toggle-2 {
  padding: 10px 20px 10px 0;
}

.navigation-bar {
  background-color: #fff;
  border-bottom: 1px solid #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav-link-default {
  color: #0b0c0d;
  line-height: 1;
  text-decoration: none;
}

.nav-brand-logo {
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.nav-brand-logo.white {
  display: none;
  position: absolute;
}

.dropdown-item-link-2 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #0b0c0d;
  align-items: center;
  margin-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  display: flex;
}

.navigation-menu {
  margin-right: 20px;
}

.section-primary {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
}

.banner-contact-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.banner-contact-icon {
  width: 22px;
}

.banner-contact-icon.s {
  padding: 1px;
}

.banner-contact-text {
  color: #0b0c0d;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.contact-info-banner {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-end;
  display: flex;
}

.center-text {
  text-align: center;
}

.center-text.limit-800 {
  max-width: 800px;
}

.logo-footer {
  width: 240px;
  margin-bottom: 24px;
}

.link {
  color: #0b0c0d;
  font-size: 12px;
}

.footer-description {
  color: #333;
  padding-right: 40px;
  line-height: 1.5;
}

.banner-contact-text-default {
  color: #0b0c0d;
  margin-top: 2px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
}

.contact-info-banner-default {
  width: 100%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-end;
  display: flex;
}

.divider {
  width: .5px;
  background-color: #747474;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
}

.divider.circle {
  width: 3px;
  height: 3px;
  background-color: #333;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.banner-contact-icon-default {
  width: 16px;
}

.cta-content-wrap {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.text-block {
  font-size: 12px;
}

.service-button-wrap {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.h2-cta {
  max-width: 500px;
  color: #fff;
  margin-top: 0;
  font-size: 38px;
  line-height: 1.3;
}

.cta-button-wrap {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  display: flex;
}

.img-cta {
  width: 48px;
}

.feature-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.faq_answer {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
}

.h5-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3em;
}

.horizontal-line {
  width: 17px;
  height: 2px;
  background-color: #57606f;
}

.accordion-wrap {
  max-width: 660px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.entry-content-2 {
  max-width: 880px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.entry-content-2.all-center {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.accordion-trigger {
  cursor: pointer;
  border: 1px solid #ced6e0;
  justify-content: space-between;
  align-items: center;
  padding: 14px 15px 14px 32px;
  transition: transform .35s;
  display: flex;
  transform: translate(0);
}

.accordion-trigger:hover {
  transform: translate(0, -3px);
}

.accordion-item {
  margin-bottom: 10px;
  position: relative;
}

.vertical-line {
  width: 17px;
  height: 2px;
  background-color: #57606f;
  position: absolute;
  transform: rotate(90deg);
}

.plus-icon {
  width: 40px;
  height: 40px;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  padding: 10px;
  display: flex;
}

.accordion-content {
  position: relative;
  overflow: hidden;
}

.faq-2-col-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-items: center;
}

.faq-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.company-logo {
  height: 48px;
}

.space-60 {
  height: 60px;
}

.space-80 {
  height: 80px;
}

.features-link {
  color: #24282e;
}

.space-100 {
  height: 100px;
}

.blog-image {
  width: 100%;
  height: 550px;
  object-fit: cover;
  border-radius: 8px;
}

.company-logo-wrap {
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
  display: flex;
}

.gallery-grid {
  grid-template-rows: auto;
}

.gallery-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.values-wrap {
  grid-row-gap: 32px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.value-item {
  border-radius: 24px;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  display: flex;
}

.value-image {
  width: 28px;
  max-width: none;
  display: block;
}

.value-text-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.value-description {
  font-size: 16px;
  line-height: 1.5;
}

.circle-wrap {
  background-color: #f60;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 12px;
  display: flex;
}

.form-2-col-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-top: 30px;
  display: grid;
}

.security-icon {
  width: 22px;
}

.form-button-wrapper {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  align-items: center;
  display: flex;
}

.security-text-block {
  color: #0b0c0d;
}

.form-container {
  background-color: #fff;
  border: 1px solid #ced6e0;
  padding: 55px 46px;
}

.form-container.max-width {
  max-width: 660px;
}

.form-container.max-width.page-center {
  border-color: rgba(206, 214, 224, .62);
  border-radius: 24px;
  margin-left: auto;
  margin-right: auto;
}

.button-3 {
  color: #fff;
  text-align: center;
  background-color: #2979ff;
  border-radius: 50px;
  padding: 14px 32px;
  font-weight: 500;
  line-height: 1.111em;
  transition: color .3s, transform .3s, box-shadow .3s, background-color .3s;
}

.button-3:hover {
  transform: translate(0, -4px);
}

.button-3.large {
  padding: 20px 40px;
}

.security-link {
  color: #0b0c0d;
  font-weight: 500;
}

.field-label {
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: 500;
}

.select-field {
  height: 50px;
  background-color: rgba(245, 245, 245, .51);
  border: 0 rgba(0, 0, 0, 0);
}

.security-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  display: flex;
}

.text-field {
  height: 52px;
  background-color: rgba(245, 245, 245, .51);
  border: 1px #000;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 12px 20px;
}

.text-field:focus {
  border-color: #9b9ae0;
}

.text-field.text-area {
  height: auto;
  min-height: 150px;
}

.success-message {
  color: #706fd3;
  background-color: #f0f0fa;
  border: 1px solid #706fd3;
}

.error-message {
  color: red;
  background-color: #fff2f2;
  margin-top: 20px;
  font-weight: 500;
}

.h3-3 {
  font-weight: 500;
}

.h3-3.contact {
  font-size: 34px;
  font-weight: 600;
}

.paragraph-3 {
  color: #333;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.contact-item {
  background-color: #f5f5f5;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.contact-link-block {
  color: #0b0c0d;
  text-decoration: none;
}

.contact-inner {
  flex-direction: column;
  align-items: center;
  padding: 42px;
  display: flex;
}

.paragraph-4 {
  color: #333;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.paragraph-4.text-center.no-margin {
  margin-bottom: 0;
}

.icon-31 {
  width: 30px;
  height: 30px;
}

._3-col-grid-2 {
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.icon-32 {
  width: 30px;
  height: 30px;
}

.form-button-wrapper-2 {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  align-items: center;
  display: flex;
}

.button-4 {
  color: #fff;
  text-align: center;
  background-color: #2979ff;
  border-radius: 50px;
  padding: 14px 32px;
  font-weight: 500;
  line-height: 1.111em;
  transition: color .3s, transform .3s, box-shadow .3s, background-color .3s;
}

.button-4:hover {
  transform: translate(0, -4px);
}

.button-4.large {
  padding: 20px 40px;
}

.list-item {
  color: #333;
  padding-top: 8px;
  padding-bottom: 8px;
}

.list-item:hover {
  color: #0b0c0d;
}

.nav-link-2 {
  padding: 8px 0;
  font-size: 13px;
}

.nav-link-2.w--current {
  color: #333;
}

.legal-rich-text-block {
  max-width: 700px;
  color: #333;
  margin-left: auto;
  margin-right: auto;
}

.legal-rich-text-block p {
  margin-bottom: 14px;
}

.h3-4 {
  font-weight: 500;
}

.h3-4.contact {
  font-size: 34px;
  font-weight: 600;
}

@media screen and (min-width: 1280px) {
  .section.hero {
    padding-bottom: 100px;
  }

  .section.breadcrumb {
    background-color: #f5f5f5;
  }

  .section.contact-info-top {
    padding-bottom: 16px;
  }

  .container-default {
    max-width: 1500px;
  }

  .custom-list {
    height: 125px;
  }

  .wrapper-2 {
    max-width: 1500px;
  }

  .footer-nav-item:hover {
    color: #fff;
    font-weight: 500;
  }

  .breadcrumb-title-wrapper {
    flex-direction: column;
  }

  .breadcrumb-paragraph {
    font-size: 20px;
  }

  .h1-mega-title {
    font-size: 60px;
    line-height: 1.1;
  }

  .dropdown-list-default-2.w--open {
    border-radius: 0;
  }

  .dropdown-list-default-2.smaller.w--open {
    width: 150px;
  }

  .banner-contact-icon {
    width: 18px;
  }

  .banner-contact-text, .banner-contact-text-default {
    font-size: 13px;
  }

  .banner-contact-icon-default {
    width: 18px;
  }

  .cta-content-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .h1-cta {
    max-width: 600px;
    color: #fff;
    text-align: center;
    font-family: Claritycity, sans-serif;
    font-size: 42px;
  }
}

@media screen and (max-width: 991px) {
  .nav-item-wrapper {
    justify-content: center;
    margin-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
  }

  .nav-link {
    color: #0b0c0d;
    font-size: 24px;
  }

  .icon-top {
    width: 100%;
    max-height: 1.5px;
    min-height: 1.5px;
    background-color: #fff;
    border-radius: 500%;
    padding: 0;
  }

  .dropdown-list-default {
    margin-top: 0;
  }

  .menu-button {
    width: 42px;
    min-height: 42px;
    min-width: 42px;
    color: #fff;
    background-color: #706fd3;
    border-radius: 1000px;
    margin-left: 23px;
    padding: 0;
    font-size: 30px;
    transition: background-color .35s;
    overflow: hidden;
  }

  .icon-middle {
    width: 100%;
    max-height: 1.5px;
    min-height: 1.5px;
    background-color: #fff;
    border-radius: 500%;
    padding: 0;
  }

  .navbar-navigation {
    flex-direction: column;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
  }

  .icon-wrapper {
    width: 15px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
  }

  .dropdown-toggle {
    font-size: 24px;
  }

  .icon-bottom {
    width: 100%;
    max-height: 1.5px;
    min-height: 1.5px;
    background-color: #fff;
    border-radius: 500%;
    padding: 0;
  }

  .menu-button-icon-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .nav-menu {
    width: 100vw;
    max-height: 100vh;
    max-width: 100%;
    background-color: #fafafc;
    padding-top: 121px;
    padding-bottom: 36px;
    position: fixed;
    overflow: auto;
    box-shadow: 0 4px 22px rgba(41, 44, 50, .04);
  }

  .split-content.navbar-right, .split-content.navbar-left, .split-content.navbar-right {
    z-index: 99;
    position: relative;
  }

  .row.no-padding-bottom.cta {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    text-align: center;
    flex-direction: column;
  }

  .page-title {
    font-size: 45px;
  }

  .h2.limit-65 {
    width: auto;
  }

  .entry-content.padding-right {
    padding-right: 0;
  }

  .service-item {
    flex-direction: column;
    padding: 40px 35px 55px;
  }

  ._1x2-fr-grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  ._1x2-fr-grid.tablet-break {
    grid-template-columns: 1fr;
  }

  .featured-clients-grid {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(90px, auto);
    grid-auto-flow: row;
  }

  .footer-list {
    grid-template-columns: 1fr 1fr;
  }

  .dropdown {
    margin-left: 0;
    margin-right: 0;
  }

  .heading-big {
    font-size: 50px;
  }

  .features-grid {
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  ._3-col-grid {
    grid-template-columns: 1fr 1fr;
  }

  ._2-col-grid {
    max-width: 650px;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .home-v1-video {
    max-width: none;
  }

  .tablet-visible {
    justify-content: center;
    align-items: center;
    display: block;
  }

  .tablet-hidden {
    display: none;
  }

  .image-default {
    height: 350px;
  }

  .info-content-wrapper {
    margin-left: 5%;
    margin-right: 5%;
  }

  .nav-item-wrapper-default {
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .dropdown-list-default-2 {
    margin-top: 0;
  }

  .icon-bottom-default {
    width: 100%;
    max-height: 1.5px;
    min-height: 1.5px;
    background-color: #f60;
    border-radius: 8px;
    padding: 0;
  }

  .menu-button-default {
    width: 38px;
    min-height: 38px;
    min-width: 38px;
    color: #fff;
    background-color: rgba(255, 102, 0, .1);
    border-radius: 1000px;
    margin-left: 23px;
    padding: 0;
    font-size: 30px;
    transition: background-color .35s;
    overflow: hidden;
  }

  .menu-button-default.w--open {
    background-color: #055f5b;
  }

  .icon-top-default {
    width: 100%;
    max-height: 1.5px;
    min-height: 1.5px;
    background-color: #f60;
    border-radius: 8px;
    padding: 0;
  }

  .icon-wrapper-2 {
    width: 16px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
  }

  .navigation-bar {
    background-color: #fff;
  }

  .nav-brand-logo.black {
    opacity: 1;
  }

  .nav-brand-logo.white {
    display: none;
  }

  .icon-middle-default {
    width: 100%;
    max-height: 1.5px;
    min-height: 1.5px;
    background-color: #f60;
    border-radius: 8px;
    padding: 0;
  }

  .navigation-menu {
    width: 100vw;
    max-height: 100vh;
    max-width: 100%;
    background-color: #fafafc;
    margin-right: 0;
    padding-top: 121px;
    padding-bottom: 36px;
    position: fixed;
    overflow: auto;
    box-shadow: 0 4px 22px rgba(41, 44, 50, .04);
  }

  .banner-contact-wrapper.hide-mobile, .divider.hide-mobile {
    display: none;
  }

  .h2-cta {
    font-size: 32px;
  }

  .faq-2-col-grid {
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }

  .company-logo {
    height: 32px;
  }

  .company-logo-wrap {
    flex-direction: row;
    justify-content: space-between;
    margin-top: -20px;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .values-wrap {
    flex-direction: column;
  }

  .value-description {
    width: 70%;
  }

  ._3-col-grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .nav-item-wrapper {
    justify-content: flex-start;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .nav-item-wrapper.header-button-mobile {
    margin-top: 120px;
    display: block;
  }

  .nav-link {
    font-size: 24px;
  }

  .button {
    padding-left: 35px;
    padding-right: 35px;
  }

  .button.navigation-button {
    display: none;
  }

  .button.navigation-button.mobile {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;
    display: block;
  }

  .menu-button {
    margin-left: 0;
  }

  .button-2 {
    transition-property: none;
    transform: none;
  }

  .button-2:hover {
    transform: none;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .row {
    padding-left: 20px;
    padding-right: 20px;
  }

  .page-title {
    font-size: 38px;
  }

  .entry-content.all-center {
    align-items: flex-start;
  }

  .section-heading {
    font-size: 32px;
  }

  .services-grid {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .service-item {
    padding: 20px;
  }

  .service-item:hover {
    background-color: #fff;
    transform: none;
  }

  ._1x2-fr-grid {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    grid-template-columns: 1fr;
  }

  .arrow-link-wrap {
    padding-right: 0;
  }

  .featured-client-logo {
    height: 20px;
  }

  .featured-clients-grid {
    width: auto;
  }

  .footer-list {
    grid-template-columns: 1fr 1fr;
  }

  .footer-left {
    width: 100%;
    float: none;
    display: block;
  }

  .footer {
    padding-top: 60px;
  }

  .footer-right {
    width: 100%;
    margin-top: 10px;
  }

  .heading-big {
    font-size: 38px;
  }

  .section-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .features-grid {
    grid-template-columns: 1fr;
  }

  ._3-col-grid {
    grid-column-gap: 20px;
    grid-template-columns: 1fr;
  }

  .row-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .post-item:hover {
    transform: none;
  }

  .tablet-visible {
    width: 100%;
  }

  .image-default {
    height: 250px;
  }

  .h1-mega-title {
    font-size: 48px;
  }

  .info-content-wrapper {
    margin-left: 0%;
    margin-right: 0%;
  }

  .nav-item-wrapper-default.header-button-mobile {
    margin-top: 120px;
    display: block;
  }

  .button-default {
    padding-left: 35px;
    padding-right: 35px;
  }

  .button-default.navigation-button {
    display: none;
  }

  .button-default.navigation-button.mobile {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;
    display: block;
  }

  .menu-button-default {
    margin-left: 0;
  }

  .accordion-trigger:hover {
    border-color: #ced6e0;
    transform: none;
    box-shadow: 1px 1px 12px 1px rgba(56, 64, 76, .02);
  }

  .faq-2-col-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
  }

  .company-logo-wrap {
    flex-direction: column;
  }

  .value-description {
    width: auto;
  }

  .form-2-col-grid {
    grid-template-columns: 1fr;
    display: block;
  }

  .form-container {
    padding: 45px 30px;
  }

  .button-3 {
    padding-left: 35px;
    padding-right: 35px;
  }

  ._3-col-grid-2 {
    grid-column-gap: 20px;
    grid-template-columns: 1fr;
  }

  .button-4 {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media screen and (max-width: 479px) {
  .nav-item-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-item-wrapper.header-button-mobile {
    margin-top: 100px;
  }

  .nav-link {
    font-size: 24px;
  }

  .dropdown-list-default.w--open {
    margin-top: 16px;
  }

  .button {
    padding: 20px 15px;
    display: block;
  }

  .button.navigation-button.mobile {
    padding-left: 15px;
    padding-right: 15px;
  }

  .button.secondary {
    text-align: left;
    background-position: 28%;
  }

  .button.white, .button.large {
    width: 100%;
  }

  .menu-button {
    width: 46px;
    min-height: 46px;
    min-width: 46px;
    padding: 10px;
    font-size: 26px;
  }

  .navbar-navigation {
    align-items: flex-start;
    margin-left: 16px;
    margin-right: 16px;
  }

  .brand-title.white {
    font-size: 20px;
  }

  .dropdown-toggle {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .split-content.navbar-right {
    margin-right: 15px;
  }

  .button-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button-2.large-button.white-button.add-space {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .button-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }

  .section.hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section.contact-info-top {
    display: none;
  }

  .row.no-padding-bottom.legal {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    text-align: center;
    flex-direction: column-reverse;
    display: flex;
  }

  .page-title {
    font-size: 36px;
  }

  .hero-content {
    align-items: flex-start;
  }

  .h2 {
    font-size: 34px;
  }

  .h2.dark-text {
    font-size: 24px;
  }

  .h2.values {
    text-align: left;
  }

  .entry-content.all-center {
    text-align: left;
    align-items: flex-start;
  }

  .entry-content.all-center.mobile-center {
    text-align: center;
    align-items: center;
  }

  .entry-content.all-center {
    text-align: left;
    text-align: left;
  }

  .custom-list {
    height: auto;
  }

  .icon-30 {
    width: 22px;
    height: 22px;
  }

  .custom-list-small {
    width: 14px;
    height: 14px;
    background-image: url('../images/check-orange-cropped.svg');
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .service-item {
    flex-direction: column;
  }

  .featured-client-logo {
    height: 30px;
  }

  .featured-clients-grid {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .footer-nav-item {
    justify-content: center;
    padding-right: 0;
    display: flex;
  }

  .footer-nav-item.w--current {
    display: flex;
  }

  .footer-list {
    grid-template-columns: 1fr;
  }

  .footer-right {
    justify-content: center;
  }

  .footer-column {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .service-paragraph {
    color: #333;
  }

  .h1-breadcrumb {
    text-align: left;
    font-size: 38px;
  }

  .breadcrumb-paragraph {
    text-align: left;
  }

  .features-grid {
    grid-template-columns: 1fr;
  }

  .feature-block {
    grid-template-columns: auto;
    margin-bottom: 10px;
  }

  .post-meta {
    padding: 15px;
  }

  ._3-col-grid {
    grid-template-columns: 1fr;
  }

  .home-v1-video {
    height: 375px;
  }

  .side-content-grid {
    grid-template-columns: 1fr;
  }

  .side-img-grid {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .image-default.large {
    height: 400px;
  }

  .feature-paragraph {
    padding-right: 0;
  }

  .h1-mega-title {
    font-size: 46px;
  }

  .h1-mega-title.white-text.hide-mobile {
    display: none;
  }

  .h1-mega-title.white-text.show-mobile {
    display: block;
  }

  .h1-mega-title.hide-mobile {
    display: none;
  }

  .h1-mega-title.show-mobile {
    font-size: 40px;
    line-height: 1.2;
    display: block;
  }

  .nav-item-wrapper-default.header-button-mobile {
    margin-top: 40px;
  }

  .brand-2 {
    width: 150px;
  }

  .button-default {
    padding: 20px 15px;
    display: block;
  }

  .button-default.navigation-button.mobile {
    padding: 16px 40px;
    font-size: 16px;
  }

  .icon-bottom-default {
    border-radius: 4px;
  }

  .menu-button-default {
    width: 44px;
    min-height: 44px;
    min-width: 44px;
    padding: 10px;
    font-size: 26px;
  }

  .dropdown-toggle-2 {
    font-size: 18px;
  }

  .icon-top-default {
    border-radius: 4px;
  }

  .nav-link-default {
    font-size: 18px;
  }

  .icon-middle-default {
    border-radius: 4px;
  }

  .banner-contact-wrapper {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }

  .center-text.limit-800 {
    text-align: left;
  }

  .logo-footer {
    width: 140px;
  }

  .footer-description {
    padding-right: 0;
  }

  .contact-info-banner-default {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    flex-direction: column;
    align-items: flex-end;
  }

  .cta-button-wrap {
    flex-direction: column;
  }

  .accordion-trigger {
    padding-left: 20px;
  }

  .space-100 {
    height: 80px;
  }

  .blog-image {
    height: 350px;
  }

  .company-logo-wrap {
    align-items: flex-start;
  }

  .gallery-image {
    height: 300px;
  }

  .value-item {
    text-align: left;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
  }

  .value-image {
    width: 22px;
  }

  .circle-wrap {
    padding: 10px;
  }

  .form-button-wrapper {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-direction: column;
  }

  .field-line {
    margin-bottom: 20px;
  }

  .form-container {
    margin-left: 0;
    margin-right: 0;
    padding: 35px 20px;
  }

  .form-container.max-width.page-center {
    border-radius: 12px;
    padding: 20px 18px;
  }

  .button-3 {
    padding: 20px 15px;
    display: block;
  }

  .button-3.large {
    width: 100%;
  }

  .security-wrap {
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .contact-item {
    background-color: #fafafa;
  }

  .contact-inner {
    padding: 32px 20px;
  }

  ._3-col-grid-2 {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
  }

  .form-button-wrapper-2 {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-direction: column;
  }

  .button-4 {
    padding: 20px 15px;
    display: block;
  }

  .button-4.large {
    width: 100%;
  }
}

#w-node-db6bcd9a-2182-5640-dcee-1a3532d03973-32d03967, #w-node-db6bcd9a-2182-5640-dcee-1a3532d0397d-32d03967, #w-node-db6bcd9a-2182-5640-dcee-1a3532d03987-32d03967, #w-node-_5c54ce27-2c7c-c4bc-4719-a76c1dd3dbd6-c75042ba, #w-node-_775df6e5-45f3-dea6-2080-e095b9e95100-c75042bc, #w-node-_775df6e5-45f3-dea6-2080-e095b9e9510a-c75042bc, #w-node-_492da828-fd99-2082-e73f-5fc1fd983813-c75042be, #w-node-_492da828-fd99-2082-e73f-5fc1fd98381d-c75042be, #w-node-ba43ddf0-6179-4c50-aeb8-91312d5ada63-c75042c1, #w-node-ba43ddf0-6179-4c50-aeb8-91312d5ada67-c75042c1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_872951f1-43cf-b565-dbbe-823965ec4890-c75042c1 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_4532b030-cebe-c2c8-d60a-eddd69db7176-c75042c1, #w-node-_191910bd-5292-fe1a-0910-690dbb6fc9b9-c75042c1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b7b41eaf-bc8f-5bfc-b83c-027c977a20ec-c75042c1, #w-node-ba43ddf0-6179-4c50-aeb8-91312d5ada6b-c75042c1, #w-node-ba43ddf0-6179-4c50-aeb8-91312d5ada6f-c75042c1, #w-node-ba43ddf0-6179-4c50-aeb8-91312d5ada73-c75042c1 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_81e2f938-03a7-11bb-8246-de08a3693518-c75042c2, #w-node-_81e2f938-03a7-11bb-8246-de08a369351c-c75042c2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_81e2f938-03a7-11bb-8246-de08a3693520-c75042c2, #w-node-_81e2f938-03a7-11bb-8246-de08a3693524-c75042c2, #w-node-_81e2f938-03a7-11bb-8246-de08a3693528-c75042c2 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_5c54ce27-2c7c-c4bc-4719-a76c1dd3dbd6-7989ff53, #w-node-_5c54ce27-2c7c-c4bc-4719-a76c1dd3dbd6-3feca1e6, #w-node-_6cafc418-f541-54dc-d61a-789ecdf61db2-5cfa4792, #w-node-e649f88c-9c79-040b-3948-228b730f6e98-5cfa4792, #w-node-_492da828-fd99-2082-e73f-5fc1fd983813-5cfa4792, #w-node-_492da828-fd99-2082-e73f-5fc1fd98381d-5cfa4792 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-ba43ddf0-6179-4c50-aeb8-91312d5ada6b-c75042c1, #w-node-ba43ddf0-6179-4c50-aeb8-91312d5ada6f-c75042c1, #w-node-ba43ddf0-6179-4c50-aeb8-91312d5ada73-c75042c1, #w-node-_81e2f938-03a7-11bb-8246-de08a3693520-c75042c2, #w-node-_81e2f938-03a7-11bb-8246-de08a3693524-c75042c2, #w-node-_81e2f938-03a7-11bb-8246-de08a3693528-c75042c2 {
    grid-column: span 1 / span 1;
  }
}


@font-face {
  font-family: 'Claritycity';
  src: url('../fonts/ClarityCity-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Claritycity';
  src: url('../fonts/ClarityCity-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Claritycity';
  src: url('../fonts/ClarityCity-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Claritycity';
  src: url('../fonts/ClarityCity-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Claritycity';
  src: url('../fonts/ClarityCity-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Claritycity';
  src: url('../fonts/ClarityCity-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}